[Unit]
Description=TF serving server
After=network.target

[Service]
Type=simple
Restart=always
User=web
WorkingDirectory=/home/web/
Environment="LD_LIBRARY_PATH=/opt/cuda-10.1/lib64"
ExecStart=/usr/bin/tensorflow_model_server_gpu --port=9000 --model_name=transformer --model_base_path=/home/web/export

